mixin scale()
	+b.scale&attributes(attributes)
		+e("ul").list
			+e("li").item Не владею
			+e("li").item Использую готовые решения
			+e("li").item Использую готовые решения и умею их переделывать
			+e("li").item Пишу сложный JS с нуля
