.scale
	display block

.scale__list
	padding-top 5px
	display flex
	font-size 13px
	font-weight 700
	line-height 19px
.scale__item
	position relative
	&:first-of-type
		width 19%
		&:before
			position absolute
			top -27px
			width 3px
			height 26px
			content ''
			background-color slider-line-color
	&:nth-of-type(2)
		width 29.5%
		&:before
			position absolute
			top -23px
			width 3px
			height 9px
			content ''
			background-color slider-line-color
	&:nth-of-type(3)
		width 22%
		&:before
			position absolute
			top -23px
			width 3px
			height 9px
			content ''
			background-color slider-line-color
	&:last-of-type
		width 29.5%
		text-align right
		&:after
			position absolute
			top -27px
			right 0
			width 3px
			height 26px
			content ''
			background-color slider-line-color


