include ../checkbox/checkbox

mixin list(list)
	+b('ul').list&attributes(attributes)
		each item in list[0]
			+e('li').item
				+checkbox(
					{
					checkboxlabel: item,
					name: 'skills',
					id: list[0].indexOf(item),
					checked: list[1][list[0].indexOf(item)]
					}
				)
