include ../container/container
include ../user/user
include ../subtitile/subtitile
include ../text/text
include ../list/list
include ../checkbox/checkbox


mixin index()
	+b.index
		+container
			+user

		+subtitile
			|	Расскажите о себе чекбоксами
		+text
			|	Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает,
			|	что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи,
			|	с которыми гарантировано будете справляться.

		+container
			+list(getData('skills'))

		+subtitile
			|	Уровень владения JavaScript



