include ../container/container
include ../user/user
include ../subtitile/subtitile
include ../list/list
include ../checkbox/checkbox


mixin index()
	+b.index
		+container
			+user

		+subtitile
			|    Расскажите о себе чекбоксами
		+container
			+list(getData('skills'))


