.date
	display: flex
	width 60%
	label
		margin-right 18px
		font-family font-bold
		font-size 23px
		line-height 50px
		color text-color
	input
		padding-x(15px)
		background-color inherit
		border none
		border-bottom 2px solid user-input-border
		font-family font-second
		font-size 30px
		line-height 36px
	input[type=date]::-webkit-inner-spin-button,
	input[type=date]::-webkit-outer-spin-button
		-webkit-appearance none
		margin 0
