.date
	display flex
	label
		align-self flex-end
		margin-right 20px
		font-family font-bold
		font-size 22px
		line-height 22px
		color text-color
	input
		padding-x(9px)
		width 36%
		font-family font-second
		font-size 30px
		line-height 36px
		background-color inherit
		border none
		border-bottom 3px solid user-input-border

