.note__area
	display block
	width 100%
	min-height 200px
	font-family font-second
	font-size 30px
	line-height 60px
	background-color inherit
	border none

.note__hidden
	display none
	width 100%
	min-height 200px
	white-space pre-wrap
	font-family font-second
	font-size 30px
	line-height 60px
	background-color inherit
	word-wrap break-word

.noscroll
	overflow hidden
