mixin note()
	+b().note&attributes(attributes)
		+e('textarea').area.
			Добрый день! Прошу рассмотреть мою кандидатуру на должность верстальщика. Несколько лет занимаюсь версткой
			и фронтендом как хобби, хочу попробовать свои силы в удаленной работе с командой профессионалов.
			Бысто обучаюсь и пятым колесом не буду.
		+e().hidden
