@font-face {
	font-family: 'PT Sansbold';
	src: url('../fonts/pt_sans-bold.eot');
	src: url('../fonts/pt_sans-bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pt_sans-bold.woff2') format('woff2'),
		url('../fonts/pt_sans-bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/pt_sans.eot');
	src: url('../fonts/pt_sans.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pt_sans.woff2') format('woff2'),
		url('../fonts/pt_sans.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
