font = 'PT Sans', Arial, sans-serif
font-bold = 'PT Sansbold', Arial, sans-serif
font-second = 'Courier New', 'Times New Roman', serif

vertical-size = 15px

text-color = #2f1b15

page-background = #eccc99

//USER
user-input-border = #3d2219


//SKILLS
skills-text-color = #3d3d3d
