mixin user()
	+b.user&attributes(attributes)
		+e('ul').list
			+e('li').item
				+e('label').label(for='name') Полное ФИО
				+e('input').field(type='text' name='name' id='name' value='Корниенко Денис Витальевич')
			+e('li').item
				+e('label').label(for='birthday') Год рождения
				+e('input').field(type='text' name='birthday' id='birthday' value='1978')
			+e('li').item
				+e('label').label(for='location') Место жительства
				+e('input').field(type='text' name='location' id='location' value='г. Геленджик, Россия')
			+e('li').item
				+e('label').label(for='skype') Скайп
				+e('input').field(type='text' name='skype' id='skype' value='korney197823')
			+e('li').item
				+e('label').label(for='email') Почта
				+e('input').field(type='email' name='email' id='email' value='korney197823@gmail.com')
