.user
	padding-top 50px
	padding-bottom 40px
	width 100%

.user__item
	display flex
	justify-content space-between
	align-items flex-end
	margin-bottom 14px
	label
		margin-right 14px
		font-family font-bold
		font-size 22px
		line-height 23px
		color text-color
	input
		padding-x(15px)
		padding-y(5px)
		flex 1
		font-family font-second
		font-size 30px
		line-height 36px
		background-color inherit
		border none
		border-bottom 2px solid user-input-border


