.user
	width: 100%
	padding-y(vertical-size * 3)

.user__item
	display flex
	justify-content space-between
	align-items flex-start
	label
		margin-right 18px
		font-family font-bold
		font-size 23px
		line-height 50px
		color text-color
	input
		flex 1
		padding-x(15px)
		background-color inherit
		border none
		border-bottom 2px solid user-input-border
		font-family font-second
		font-size 30px
		line-height 36px
