.radio
	padding-y(8px)
	display flex
	&:not(:last-of-type)
		margin-right 25px

[type='radio']:not(:checked),
[type='radio']:checked
	display none

[type='radio']:not(:checked) + label,
[type='radio']:checked + label
	position relative
	padding-left 32px
	font-size 20px
	font-weight 700
	line-height 28px
	cursor pointer
	color #000000

[type='radio']:not(:checked) + label:before,
[type='radio']:checked + label:before
	position absolute
	top 0
	left 0
	width 20px
	height 20px
	cursor pointer
	content ''
	border 3px solid text-color
	border-radius 50%


[type='radio']:not(:checked) + label:after,
[type='radio']:checked + label:after
	position absolute
	top 7px
	left 7px
	width 12px
	height 12px
	content ''
	color #094379
	background-color text-color
	border-radius 50%
	transition all .2s

[type='radio']:not(:checked) + label:after
	opacity 0
	transform scale(0)

[type='radio']:checked + label:after
	opacity 1
	transform scale(1)
