@import '../../../node_modules/ion-rangeslider/css/ion.rangeSlider.css'
@import '../../../node_modules/ion-rangeslider/css/ion.rangeSlider.skinHTML5.css'

.slider
	position relative
	display block
	min-height 80px
	.irs-slider
		top 16px
		width 0
		height 0
		background none
		border-top 14px solid #2f1b15
		border-left 8px solid transparent
		border-right 8px solid transparent
		border-radius 0
		box-shadow none

	.irs-line
		background-color inherit
		border-top 4px solid slider-line-color
		border-left none
		border-right none
		border-bottom none
		border-radius 0

	.irs-bar,
	.irs-bar-edge
		display none

